.home-news{
	display: flex;
	width: 100%;
	height: 50px;
	border: 1px solid lightgray;
	margin-bottom: 10px;
}
.home-news-title{
	width: 20%;
	text-align: center;
	color: white;
}
.home-news-title span{
	display: block;
	padding-top: 5%;
	font-size: 25px;
	font-family: "Agency FB";
}
.home-news-content {
	width: 80%;
	text-align: center;
	color: red;
}
.home-news-content span{
	font-size: 25px;
	cursor: pointer;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.home-presentation{
	min-height: 100vh;
	width: 100%;
}
.home-logo > img {
	display: flex;
	justify-content: center;
	margin: 30px auto;
}
.home-logo > span{
	display: flex;
	justify-content: center;
	margin: 30px auto;
}
.home-flex{
	display: flex;
}
.home-span {
	margin-top: 10px;
	padding: 10px;
	width: 100%;
	cursor: pointer;
}
.home-span span {
	display: flex;
	justify-content: center;
	border-bottom: 3px solid rgb(53, 69, 108);
	padding-top: 20px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
.home-span span:hover {
    color: rgb(53, 69, 108);
    border-bottom: 1px solid rgb(216, 49, 57);
}

.home-span-active span {
	color: white;
	background-color: rgb(216, 49, 57);
}

.home-card {
	font-family: "Open Sans",Consolas, serif;
	text-align: justify;
	font-size: 20px;
    margin: 5px;
    padding: 20px;
    border: 1px solid lightgray;
	min-height: 650px;
	border-radius: 10px;
}
.cards {
	background-color: #fff;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.main-box{
	display: flex;
	margin-top: 5px;
	margin-bottom: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.slide-show {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/* Animation for slide show */
	animation: slideShow 5s ease-in-out infinite both;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.slide-show:hover {
	animation-play-state: paused;
	cursor: pointer;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.news{
	width: 35%;
	border: solid 1px lightgray;
 	margin-left: 5px;
	margin-right: 5px;
	overflow: auto;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.news span {
	padding-top: 10px;
	display: block;
	text-align: center;
	font-family: "Agency FB", serif;
	font-size: 25px;
	background-color: rgb(53, 69, 108);
	color: white;
	height: 10%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.news-tab{
	width: 98%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	padding: 2px;
	border-collapse: separate;
	border-spacing: 15px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.news-tab td {
	height: auto;
	margin-top: 10px;
	text-align: center;
	padding: 5px;
	background-color: white;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.news-tab td:first-child {
	color: white;
	background-color: rgb(216, 49, 57);
	width: 35%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.news-tab td:last-child {
	width: 95%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.table-program{
	margin-top: 10px;
	padding: 20px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-style: none;
}
/*--------------------------------------------------------------------------------------------------------------------*/
tbody, tr, td, th {
	border: 1px lightgray solid;
	border-radius: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
li {
 	list-style: circle;
	margin-left: 20px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
a {
	text-decoration: none;
	color: black;
}
/*--------------------------------------------------------------------------------------------------------------------*/
a:hover {
	color: rgb(253, 59, 76);
	cursor: pointer;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.vp{
	color: rgb(53, 69, 108);
}
/*--------------------------------------------------------------------------------------------------------------------*/
.semester{
	display: block;
	text-align: center;
	padding: 10px;
	color: rgb(53, 69, 108) ;
	font-weight: bold;
	font-size: 20px;
	font-family: "Times New Roman", serif;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.element .element-title {
	color: rgb(53, 69, 108);
	padding: 10px;
	font-family: "Agency FB", serif;
	font-size: 25px;
	font-weight: bold;

}
/*--------------------------------------------------------------------------------------------------------------------*/
.element-title {
	border: 1px solid lightgray;
	border-radius: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.element-details {
	border: 1px solid rgba(216,250,255,0.83);
	border-radius: 10px;
	background-color: rgba(216,250,255,0.83);
	padding: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.Chenfour{
	display: flex;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.Chenfour .img {
	width: 40%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.Chenfour div {
	padding: 20px;
	width: 60%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.details > img {
	margin-right: auto;
	margin-left:auto;
	width: 100%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.full-width {
	width: 100%;
	height: 100%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.mql-video-div {
	width: 70%;
	margin-left: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.mql-video {
	width: 99%;
	height: 100%;
	border: 1px solid lightgray;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.stats-image:hover{
	opacity: 0.7;
	cursor: pointer;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.presenter-container {
	position: relative;
	width: 100%;
	height: 100%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.presenter-center-block {
	position: absolute;
	width: fit-content;
	height: fit-content;
	box-shadow: 0 0 10px lightgray;
	top: 5%;
	left: 28%;
	border-radius: 100%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: white;
	animation: zoom 1s;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.presenter-center-block img {
	display: block;
	margin: auto;
	width: 400px;
	height: 250px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.presenter-block {
	display: flex;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.presenter-block:first-child {
	margin-bottom: 200px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.presenter-block:first-child > .presenter-item:last-child {
	text-align: right;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.presenter-block:last-child > .presenter-item:last-child {
	text-align: right;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.presenter-block > .presenter-item:first-child {
	margin-left: 15px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.presenter-block > .presenter-item:last-child {
	margin-right: 15px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.presenter-item {
	box-shadow: 0 0 10px lightgray;
	padding: 20px;
	width: 38%;
	height: 150px;
	margin: auto;
	border-radius: 20px;
	background-color: white;
	z-index: 50;
	opacity: 0;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.presenter-item h1 {
    font-size: 30px;
	color: rgb(53, 69, 108);
}
/*--------------------------------------------------------------------------------------------------------------------*/
.presenter-links {
	display: flex;
	margin-left: -150px;
	margin-right: -150px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.presenter-links span {
	max-width: 70px;
	height: fit-content;
	display: block;
	margin: auto;
	color: white;
	background-color: rgb(216, 49, 57);
	padding: 40px;
	font-weight: bolder;
	font-size: 20px;
	border-radius: 100%;
	z-index: 100;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.presenter-links span > img {
	width: 100%;
	height: 100%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Animations */
@keyframes slideShow {
	0% {
		font-size: 1px;
		background-image: url("../resources/pictures/Home/presentationimage.png");
	}
	100% {
		font-size: 2px;
		background-image: url("../resources/pictures/App/mqlfam.JPG");
	}
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Responsive css ----------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 700px) {

	.container {
		background-image: none;
	}

	.main-box {
		display: block;
	}

	.news {
		width: 97%;
	}

	.Chenfour{
		display: block;
	}
	.Chenfour .img {
		width: 50%;
		border-radius: 100%;
	}
	.Chenfour img {
		margin-left: 25%;
	}

	.Chenfour div {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}

	li {
		margin-left: 0;
		text-align: left;
	}

	.presenter-container {
		display: none;
	}
}
/*--------------------------------------------------------------------------------------------------------------------*/
