<div id="autoBox"></div>
<div id="search">
	<div class="search-block">
		<img class="search-logo" src="resources/pictures/App/icons/search.png" alt="search Logo">
		<input id="key" class="search-input" onkeyup="view.filterKey()" placeholder="Search..." type="text">
		<span class="error-message"></span></div>
</div>
<div class="container">
	<div id="navigation" class="left-menu">
		<div class="menuitem wrap-blue">Navigation</div>
	</div>
	<div id="main" class="sub-content"></div>
	<!-- The Modal -->
	<div id="myModal" class="modal">
		<span onclick="closeIMG()" class="close">&times;</span>
		<img class="modal-content" id="modal_img" alt="" src="">
		<div id="caption"></div>
	</div>
	<!-- FORM MODAL -->
	<div id="form" class="modal">
		<span onclick="closeFORM()" class="close">&times;</span>
		<div class="form-content" id="formContent">
			<img src="resources/pictures/News/News-logo.png" alt="">
			<p class="form-title">NEWS COMPONENT</p>
			<input id="newsTitle" type="text" class="form-text" placeholder="News Title...">
			<textarea id="newsDescription" class="form-text" placeholder="News Description" rows="5"></textarea>
			<p id="newsSubmit" onclick="view.submitData()" class="form-submit">Valider</p>
		</div>
	</div>
	<div id="switcher" class="page_numbers"></div>
</div>

