@import url('EventComponent.css');
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Phone */
@media only screen and (max-width: 700px) {
    .card-event {
        display: block;
    }
    .card-event > img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .card-event .description{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .imgs{
        display: block;
    }
    .imgs img:first-child{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .imgs img:last-child {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .timeline {
        display: none;
    }
    .timeline {
        display: none;
    }
    .gallery-view1, .gallery-view2 {
        min-height: 200px;
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Animations */
@keyframes slideShow1 {
    0% {
        font-size: 1px;
        background-image: url("../../resources/pictures/Event/CAP.JPG");
    }
    10% {
        font-size: 2px;
        background-image: url("../../resources/pictures/Event/cap1.JPG");
    }
    20% {
        font-size: 3px;
        background-image: url("../../resources/pictures/Event/cap2.JPG");
    }
    30% {
        font-size: 4px;
        background-image: url("../../resources/pictures/Event/CGI.JPG");
    }
    40% {
        font-size: 5px;
        background-image: url("../../resources/pictures/Event/CGI2.JPG");
    }
    50% {
        font-size: 6px;
        background-image: url("../../resources/pictures/Event/CGI1.JPG");
    }
    60% {
        font-size: 7px;
        background-image: url("../../resources/pictures/Event/CGI3.JPG");
    }
    70% {
        font-size: 8px;
        background-image: url("../../resources/pictures/Event/UMANIS2.JPG");
    }
    80% {
        font-size: 9px;
        background-image: url("../../resources/pictures/Event/UMANIS4.JPG");
    }
    90% {
        font-size: 9px;
        background-image: url("../../resources/pictures/Event/CGI.JPG");
    }
    100% {
        font-size: 9px;
        background-image: url("../../resources/pictures/Event/CGI3.JPG");
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes slideShow2 {
    0% {
        font-size: 1px;
        background-image: url("../../resources/pictures/Event/JE1.JPG");
    }
    20% {
        font-size: 2px;
        background-image: url("../../resources/pictures/Event/JE2.JPG");
    }
    40% {
        font-size: 3px;
        background-image: url("../../resources/pictures/Event/JE3.JPG");
    }
    60% {
        font-size: 4px;
        background-image: url("../../resources/pictures/Event/JE4.JPG");
    }
    80% {
        font-size: 5px;
        background-image: url("../../resources/pictures/Event/JE5.JPG");
    }
    100% {
        font-size: 6px;
        background-image: url("../../resources/pictures/Event/JE6.JPG");
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
