@import url(LaureateComponent.css);
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1000px) {
    .recommendation{
        width: 90%;
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 310px) {
    .list-recommendations{
        margin-left: -70px;
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 700px){

    .card-laureate {
        display: block;
        background-repeat: repeat;
    }

    .card-laureate .description {
        width: 95%;
        padding: 10px;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    .quotes {
        display: none;
    }

    .card-laureate img {
        width: 30%;
        height: 100px;
        border-radius: 10px;
    }

    .card-laureate .element {
        color: white;
        display: block;
        margin-left: 35%;
        max-width: 60%;
        font-size: 25px;
        font-weight: bolder;
        margin-top: -80px;
    }

    .value{
        margin-left: 5px;
        float: none;
    }
    .card-laureate .item-element {
        max-width: 75%;
    }

    .linkedin {
        margin-right: 25px;
    }

}
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 700px) {
    .promotions-style{
        background-image: none;
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 700px){

    .recommendation{
        display: flex;
        flex-direction: column;
        min-height: 450px;
        min-width: 450px;
        width: 40%;
        border: none;
        margin-right: auto;
        margin-left: auto;
    }
    .image-and-infos {
        height: 45%;
        width: 100%;
    }
    .image-person{
        margin: auto;
        min-height: 130px;
        max-height: 190px;
        min-width: 160px;
        max-width: 160px;
        width: 20%;
    }
    .opinion{
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        word-wrap: break-word;
        text-align: justify;
        max-height: 200px;
        height: fit-content;
    }
    .infos{
        padding: 3px 0 0 3px;
        min-width: 190px;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .name{
        width: 100%;
    }

    .society{
        width: 100%;
    }
    .card-laureate .element {
        font-size: 20px;
    }

    .card-desc{
        width: fit-content;
    }

    .details >*{
        text-align: left;
    }
}

@media screen and (max-width: 450px) {
    .recommendation {
        min-width: 300px;
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/

