/*--------------------------------------------------------------------------------------------------------------------*/
/* Animations */
@keyframes slideShow {
	0% {
		font-size: 1px;
		background-image: url("../resources/pictures/Home/presentationimage.png");
	}
	100% {
		font-size: 2px;
		background-image: url("../resources/pictures/App/mqlfam.JPG");
	}
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Responsive css ----------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 700px) {

	.container {
		background-image: none;
	}

	.main-box {
		display: block;
	}

	.news {
		width: 97%;
	}

	.Chenfour{
		display: block;
	}
	.Chenfour .img {
		width: 50%;
		border-radius: 100%;
	}
	.Chenfour img {
		margin-left: 25%;
	}

	.Chenfour div {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}

	li {
		margin-left: 0;
		text-align: left;
	}
}
/*--------------------------------------------------------------------------------------------------------------------*/
